<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAYEX65HQe5i2-Jp_PrsNvaxH4yQ1x43YI</string>
	<key>GCM_SENDER_ID</key>
	<string>1017281572462</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.focuspaws</string>
	<key>PROJECT_ID</key>
	<string>focuspaws-ee8f8</string>
	<key>STORAGE_BUCKET</key>
	<string>focuspaws-ee8f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1017281572462:ios:4db64d7b409af8da4a407f</string>
</dict>
</plist>